.container {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 8px;
	margin: 0;
}

.avatar {
	display: inline-grid;
	place-content: center;
	background-color: gray;
	border-radius: 50%;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
	width: 64px;
	height: 64px;
	box-sizing: border-box;
	font-size: 1.5rem;
	flex-shrink: 0;
}

.avatar:not(:first-of-type) {
	margin-inline-start: -16px;
}
