.container {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
}

.cover {
	position: relative;
	color: white;
}


.cover > img {
	display: block;
	height: 20vh;
}

.cover > header {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 8px;

	opacity: 0;
	transform: translateY(100%);

	transition: none 0.2s;
	transition-property: opacity, transform;
}

.cover:hover > header, a:focus-visible > .cover > header {
	opacity: 1;
	transform: translateY(0);
}

.cover > header > h1 {
	font-size: 3vh;
	text-shadow: 0 0 16px #222;
	margin: 0;
}

.cover > header > h2 {
	font-size: 1.5vh;
	text-shadow: 0 0 16px #222;
	margin: 0;
}

.indicator {
	position: relative;
	display: block;
	aspect-ratio: 1 / 1;
	height: 20vh;
	transition: inset-inline-start 0.1s;
}

.indicator > a > img {
	display: inline-block;
	width: 50%;
	height: 50%;
	filter: brightness(50%);
	vertical-align: bottom;
}

.indicator::after {
	display: grid;
	place-items: center;
	content: attr(data-count) "+";
	font-size: 4vh;
	position: absolute;
	inset: 0;
}
