<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/getting-started">Getting started</a>
		</li>
		<li>
			<a href="/playground">Playground</a>
		</li>
	</ul>
</nav>

<style>
	nav > ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>
