---
export interface Props {
	children: any;
}
---

<div class="container">
	<label><input class="is-rtl" type="checkbox" /> RTL</label>
	<div class="sandbox-wrapper">
		<div class="sandbox">
			<slot />
		</div>
	</div>
</div>
<style>
	.container:has(.is-rtl:checked) .sandbox-wrapper {
		direction: rtl;
	}

	.sandbox {
		background-color: gray;
		padding: 8px;
		resize: horizontal;
		overflow: hidden;
	}
</style>
