---
import { Code } from "astro/components";
import theme from "shiki/themes/github-dark.json";

export interface Props {
	children: any;
	source?: string;
}

const { source } = Astro.props;

const DOCS_HIDDEN_REGEX = /\/\/\s?@docs-hidden\n(.*)\n/g;
const TWO_MANY_NEWLINE_REGEX = /\n{2,}/g;
---

<div class="container">
	<label><input class="is-rtl" type="checkbox" /> RTL</label>
	<div class="sandbox-wrapper">
		<div class="sandbox">
			<slot />
		</div>
	</div>
	{
		source && (
			<details>
				<summary>Source code</summary>
				<Code
					code={source.replace(DOCS_HIDDEN_REGEX, "").replace(TWO_MANY_NEWLINE_REGEX, "\n\n")}
					lang="tsx"
					// TODO: hopefully fixed?
					theme={theme as any}
				/>
			</details>
		)
	}
</div>
<style>
	:root {
		--bg-color: hsl(0, 0%, 0%);
		--line-color-thick: hsl(0, 0%, 25%);
		--line-color-thin: hsl(0, 0%, 10%);
		--line-thick-size: 1px;
		--line-thin-size: 1px;
		--thick-interval: 64px;
		--thin-interval: 8px;
	}

	.sandbox-wrapper {
		position: relative;

		border-radius: 8px;
		box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.15);

		background-color: var(--bg-color);
		background-image: conic-gradient(
				at calc(100% - var(--line-thick-size)) calc(100% - var(--line-thick-size)),
				var(--line-color-thick) 270deg,
				#0000 0
			),
			conic-gradient(
				at calc(100% - var(--line-thin-size)) calc(100% - var(--line-thin-size)),
				var(--line-color-thin) 270deg,
				#0000 0
			);
		background-size: var(--thick-interval) var(--thick-interval), var(--thin-interval) var(--thin-interval);
		background-position: 16px 16px;
	}

	.sandbox {
		padding: 16px;
		resize: both;
		max-width: 100%;
		overflow: hidden;
	}
</style>
