.tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tab {
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	border: none;
	padding: 8px;
	margin-inline-start: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: default;
	border-bottom: 2px solid transparent;
}

button.tab:not(:first-of-type) {
	margin-inline-start: 0;
}

.tab[data-state=active] {
	border-bottom: 2px solid red;
}

.tab img {
	width: 16px;
	height: 16px;
}

summary.tab::marker, 
summary.tab::-webkit-details-marker {
	display: none;
}

.details:not(:first-of-type) {
	animation: appear 1s;
}

@media (prefers-reduced-motion) {
	.details {
		animation: none;
	}
}

@keyframes appear {
	from, 99.99% {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
	to {
		position: initial;
		visibility: visible;
		opacity: 1;
	}
}
