.tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tab {
	all: unset;
	background-color: transparent;
	font-size: 1rem;
	border: none;
	padding: 8px;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: default;
}

.tab[data-state='active'] {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.tab img {
	width: 16px;
	height: 16px;
}

.details:not(:first-of-type) {
	animation: appear 1s;
}

@media (prefers-reduced-motion) {
	.details {
		animation: none;
	}
}

@keyframes appear {
	from, 99.99% {
		position: absolute;
		opacity: 0;
	}
	to {
		position: initial;
		opacity: 1;
	}
}
